/*****************************TAG SELECTOR****************************/
body{
  font-family:fantasy;
  text-align:center;
  font-family: 'Noto Serif', serif;
}
h1,h2{
  font-family: 'Playfair Display', serif;
  font-size:380%;
  color:#66BFBF;

  font-family: 'Merienda', cursive;
}
h3{
    color:#11999E;
    font-family: 'Oswald', sans-serif;
    font-size:180%;
}

p{
  font-size:1.5rem;

}
span{
  text-decoration:underline;
}
/*****************************CLASS SELECTOR****************************/

.bottom-cloud{
  position:absolute;
}
.footer-link{
  color: #11999E;
}
.lower-cont{

}
.mid-cont{

}
.mountain{
  height:55%;
  width:67%;
}

.p-class{
  font-size:2.3rem;
  line-height: 1;
  color:#66BFBF;
  font-weight: normal;
}
.profile-image{
width:150px;
}
.skill-set{
  width:240px;px;
}
.top-cloud{
  position:relative;
  margin-left:30%;
 padding-top:50px;
}
.upper-cont{
  background-color:#cbf1f5
}

/*****************************ID SELECTOR****************************/
